@using BlogApp.Data;
@model BlogApp.Models.HomePageViewModel


@foreach (Post post in Model.Posts)
{
    <h2>
        <a href="/blog/post?pid=@post.Id">@post.Title</a>
    </h2>
    <p class="lead">
        by <a href="">LIT Master</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on @post.Date.ToLongDateString()
    </p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>
        @post.Content
    </p>
    <a class="btn btn-primary" href="/blog/post?pid=@post.Id">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
}
